@using System.Web.Mvc.Html

<main>
    <h4>
        Klik for at komme til API info-siden <br /> <br />
        @Html.ActionLink("➡️ API", "Index", "Help", new { area = "" }, new { @class = "nav-link" })
    </h4>
</main>